 header {
	padding: 2px 16px;
	background-color: dodgerblue;
	color: white;
	text-align: center;

 }

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.column {
    float: left;
}

.left {
    width: 50%;

}
.right {
	width: 50%;
}

html {
	background-color: silver;
}
