
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/index.css" rel="stylesheet" type="text/css" />
	</head>
	<header style="font-family: Arial";>
		<p style="font-size: 48px">Welcome to Event Planner!</p>
		<h4>Created by: Max Kern, Jessica Doyal, John Siegel, Colin McNally</h4>
	</header>
	<br>
	<br>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="https://github.com/thibauts/node-google-search-scraper/blob/master/index.js"></script>
	<script src="static/scraper.js"></script>
	<script src="static/dateattrs.js"></script>
	<script src="static/userLocation.js"></script>
	<body onload="initialize(); dateattrs();">
		<table>
			<div class="Row">
				<div class="left column" style="text-align: center">
					<br><br>
					<select id="category" style="font-size:36px; font-family: Arial;">
					  <option value="0">Select Event Type:</option>
					  <option value="1">Breakfast</option>
					  <option value="2">Lunch</option>
					  <option value="3">Dinner</option>
            <option value="4">Theatre</option>
					  <option value="5">Movies</option>
					  <option value="6">Bar and Brewery</option>
					  <option value="7">Concerts</option>
					  <option value="8">Camping</option>
					  <option value="9">Parks</option>
					  <option value="10">Pet Friendly</option>
					  <option value="11">Special Events</option>
					</select>
					<br><br>
				</div>
				<div class="right column" style="text-align: center">
				<br><br>
					<select id="max_price" style="font-size:36px; font-family: Arial;">
					  <option value="0">Select Budget: </option>
					  <option value="1">$40</option>
					  <option value="2">$80</option>
					  <option value="3">$120</option>
					  <option value="4">$120+</option>
					</select>
				</div>
			</div>
			<div class="Row">
				<div class="left column" style="text-align: center">
					<p id="userloc" style="font-size:36px; font-family: Arial;"></p>
				</div>
				<div class="right column" style="text-align: center">
					<br><br>
					<input id="date" type="date" style="font-size:36px; font-family: Arial;" placeholder="YYYY-MM-DD">
					<br><br>
				</div>
			</div>
		</table>
		<button onclick="scraper()" >
			SEARCH
		</button>
	</body>

	<footer>
		FOOTER
	</footer>

</html>
